[2019-02-07 00:25] nicolevasilevsky opened #1 "Finalize date for attribution workshop"

[2019-02-07 00:26] nicolevasilevsky opened #2 "invite folks to attribution workshop"

[2019-02-09 22:40] kristiholmes opened #3 "Related Repos"
Is OpenRIF a related repo? https://github.com/openrif

[2019-02-10 17:38] mellybelly commented on #3
I think so.

[2019-02-12 21:05] nicolevasilevsky opened #4 "Represent role attributes that can exist for research outputs as larger program or project-level roles"
This is from the [Phase 2 doc](https://docs.google.com/document/d/1U0nzWf8rcCCEayxfc-qF0ikVEarBlZyacXu4NWK2ICQ/edit). Not entirely sure what the action item is here

[2019-02-12 21:06] nicolevasilevsky opened #5 "Add new terms for community contributions"
Extend CRO using existing community contributions we’ve gathered in workshops on the types of activities for which people wish to receive credit

From the [Phase 2 doc](https://docs.google.com/document/d/1U0nzWf8rcCCEayxfc-qF0ikVEarBlZyacXu4NWK2ICQ/edit)

[2019-02-12 21:11] nicolevasilevsky opened #6 "finalize the mapping for the research objects"
See file [here](https://docs.google.com/spreadsheets/d/1Mw8gK2NUGM8po7GGRtJTShRM2QNFoR19VJrjQuVCDW8/edit#gid=1619162717)

[2019-02-13 01:14] nicolevasilevsky commented on #3
It is an org, not a repo. I think we should create a new header that says Related Organizations and put it under there.

[2019-02-13 01:15] nicolevasilevsky commented on #3
Or maybe we don't need it at all? I think we included all the relevant repos under the OpenRIF org.

(Note, I just added all the related repos to the ReadMe file)

[2019-02-13 01:17] nicolevasilevsky opened #7 "add a description of each repo alongside its mention on the ReadMe file?"
We list a lot of repos under the Repositories header in the ReadMe file.

It would be nice to include the description alongside the name.

I can work on this, or if anyone would like to help/do it, please assign yourself. :)

[2019-02-23 11:59] kristiholmes commented on #1
The attribution workshop will be held in Chicago May 30-31, 2019.

[2019-02-23 12:00] #1 closed, assigned to kristiholmes

[2019-02-25 22:47] nicolevasilevsky commented on #4
@kristiholmes is there a specific action item here, or could this be closed?

[2019-02-26 00:15] nicolevasilevsky opened #9 "import CREDIT ontology to CRO"
import the whole CREDIT ontology as an owl:imports (on the ontology metadata page in Protege)

[2019-02-26 00:16] nicolevasilevsky opened #10 "Figure out if we can do a diff between the old CRO file and the current CRO file"
@marijane, if it is not easy to do this automatically, I can do it manually.

[2019-02-26 00:18] nicolevasilevsky opened #11 "decide if we want to add additional classes to CRO from the Force2015 workshop"
this spreadsheet contains all of the terms that were brainstormed at the Force2015 workshop:
https://docs.google.com/spreadsheets/d/1BudaIWSIgo7RVmzIpWO_hkE5mlgeii16xBTY37d0Zek/edit#gid=0

At the F2F, we decided that we didn't want to add all of these terms to the CRO at this time. I think a lot of terms are overlapping though, is it worth comparing this file to to the terms that are currently in

[2019-02-26 00:19] nicolevasilevsky opened #12 "figure out how to create modules of the CRO (subset tags?)"
goal is to have modules for different domains

to do: @marijane to ping Chris M about creating a modular ontology with the ODK

[2019-02-26 00:21] nicolevasilevsky commented on #10
from our notes, @marijane is meant to look into doing a ROBOT diff on the labels from the original CRO and the current CRO

[2019-02-26 00:28] nicolevasilevsky commented on #3
related to #7

[2019-02-26 00:30] nicolevasilevsky opened #13 "edit the readme at the new CRO to point back at the old one"
and add some citations to relevant papers and posters

[2019-02-26 00:43] nicolevasilevsky commented on #3
I am closing this ticket - OpenRIF is included on our list of repos and now has a description. Please reopen if you'd like to discuss further.

[2019-02-26 00:43] #3 closed, assigned to nicolevasilevsky

[2019-02-26 00:43] #7 closed, assigned to nicolevasilevsky

[2019-02-26 00:45] nicolevasilevsky commented on #6
Nicole's outstanding action items:
- import files via ROBOT with @marijane _(in progress)_
- [x] need to import OCRE
- [x] import terms from MeSH
- [x] import terms from foaf _(no longer needed, the foaf term is a property, not a class)_
- [x] add IAO term replaced by annotation
- [x] reclassify the terms from the research objects spreadsheet as children of roo (ROO_00000000)
- [x] add source file

[2019-02-26 00:46] nicolevasilevsky opened #14 "Create an example of the annotation file structure (v.1)"
Draft annotation file structure is here:
https://docs.google.com/spreadsheets/d/1sqDi2RtErDUqP1ovyV45Cz07vYvxnpyOjwBVJt2k3a8/edit#gid=0

[2019-02-26 00:47] nicolevasilevsky opened #15 "need application that can be used to demo credit annotation file"
I believe Dave is working on an app?

[2019-02-26 00:56] marijane commented on #6
Research Artefacts Ontology!

[2019-02-26 00:59] nicolevasilevsky commented on #6
Oh right :)

[2019-02-26 01:44] mellybelly commented on #4
I believe that this is accomplished by the new model we discussed- it provides context for the contributions; e.g. an individual contribution to a small research product, that product can be part of a larger program or project. We should make sure that the use cases, model, and documentation support this. I don't think its an ontology modeling question, but it is an annotation format question (acc

[2019-02-26 01:47] mellybelly opened #16 "Documentation of diverse use cases"
We need to illustrate: contributions to different types of research products, and their representation in the file. The use cases could also include what viewing that information might look like (for example, in a software repo there could be a file analogous to the license.md file).

[2019-02-26 02:17] nicolevasilevsky opened #17 "in ROO, need to decide what to do about missing definitions"
Some of the imported terms are missing definitions, so we need to decide if we want to write definitions in the ROO file, or submit tickets to the source ontologies, or both?

(I am leaning towards both)

[2019-02-26 02:20] nicolevasilevsky opened #18 "release current version of CRO"

[2019-02-27 19:16] mellybelly opened #19 "Create and document selection criteria for inclusion in the ontology"
see https://github.com/data2health/research-outputs-ontology/issues/7

[2019-02-27 21:45] nicolevasilevsky commented on #6
I am going to close this ticket because the next steps are outlined in #19 and I'll create a new ticket for @marijane to refactor the ontology

[2019-02-27 21:45] #6 closed, assigned to nicolevasilevsky

[2019-02-27 21:46] nicolevasilevsky opened #20 "refactor ROO to RAO"
rename ROO to research artefact ontology (RAO)

[2019-03-14 18:47] nicolevasilevsky commented on #13
@marijane is this still something you want to do, or should we close this?

[2019-03-14 18:49] nicolevasilevsky commented on #5
I don't think this is needed anymore

[2019-03-14 18:49] #5 closed, assigned to nicolevasilevsky

[2019-03-14 19:03] marijane commented on #13
We still need to do this.  I will try to do it today.

[2019-03-17 21:38] kristiholmes opened #21 "Identify iDTF collaborators and persons who may want to be involved."

[2019-03-17 21:38] kristiholmes opened #22 "Draft and send message to interested groups."

[2019-03-18 21:24] jmcmurry commented on #22
If you haven't already, please make sure to reach out to the PIs that already expressed interest in the project. Select your project from the dropdown [here](https://docs.google.com/spreadsheets/d/1PR6jLSz3KedD9bEWQcFr-LJRQfkXo_GcFOHXZMOgd7o/edit#gid=0).

[2019-03-18 21:38] jmcmurry commented on #22
ps. This just in: a coordinated email will be going out for all projects; stay tuned.

[2019-03-18 22:01] kristiholmes commented on #22
hi - I would like to send this email out directly to welcome people to the project.  I think it provides a nice opportunity to introduce them to the work and team and get them integrated with program resources.  Perhaps we can identify key items you would like to include in such an email and then those of us who want to engage can do so? @mellybelly @jmcmurry @firaswehbe @LisaOKeefe1

[2019-03-18 22:25] LisaOKeefe1 commented on #22
Hi @kristiholmes and thanks!  Who do you see your audience being? Will they contribute code or make other contributions? This will help me to share what I think might be most helpful!

[2019-03-19 01:49] kristiholmes commented on #22
hi @LisaOKeefe1 - thanks for your question.  I think the overall audience will be fairly diverse, from a wide range of stakeholder domains.  I think they could contribute in big and small ways - and all of it important. Some ideas include requirements gathering, feature requests, testing, feedback on the data models, collaboration on demonstrators, etc. Thanks for your ideas :)

[2019-03-19 04:48] jmcmurry commented on #22
I'm waiting for feedback [on my draft](https://docs.google.com/document/d/1yQdVRBZFg8X-WrofolvGhNHMVTdDcxjPYlyjhAPCyoY/edit) for all recipients as a baseline from which specific emails could be sent about specific projects.

[2019-03-19 14:36] LisaOKeefe1 commented on #22
@kristiholmes, Some things I suggest including in this message to help people feel welcome and to lessen their anxiety about being part of a new community (or somewhere else if more appropriate):

- **Joining the community** - quick thanks and overview explaining how to onboard

- **All skills are welcome** - here is where we say something like, "You don't have to be a programmer to contribute! He

[2019-03-19 22:51] jmcmurry commented on #22
Baseline email was sent; all ok to proceed with project - specific communications.

[2019-03-22 19:47] nicolevasilevsky commented on #18
this is done, right? @marijane

[2019-03-24 12:21] kristiholmes opened #23 "Scope demonstrator application project"
**Develop wizard to generate enhanced attribution content.** Input could be a persistent identifier (or set of PIDs), output is properly formatted citation with enhanced content or block of text.

- narrative for contributions to science sections of the biosketch
- annotations for individual citations (e.g., [critical references form](https://www.feinberg.northwestern.edu/fao/docs/admin-promo-tenu

[2019-03-25 03:52] kristiholmes opened #24 "Develop wizard and test"

[2019-03-25 03:54] kristiholmes opened #25 "Deployment, dissemination, engagement for wizard"

[2019-03-25 22:55] nicolevasilevsky commented on #23
@kristiholmes the link to the critical references form does not work for me

[2019-03-25 23:02] nicolevasilevsky commented on #23
I had another idea of a way people could use the CRO to annotate their CV - I have a personal website that lists my publications, and I could annotate my contributions to papers, projects, etc, using the CRO - I created an example with the first pub on my list here: https://nicolevasilevsky.github.io/publications/

[2019-03-25 23:06] nicolevasilevsky commented on #23
One open question I have is how are folks to use the CRO? In the example above, I linked to the CRO in OLS, but that is not what we'd expect people to do in reality. Would the CRO be just a source of labels/terms on their CV? Or would the identifiers be referenced/linked somehow?

[2019-03-26 14:27] LisaOKeefe1 commented on #23
Hi there. It is broken for me, too.

[2019-03-26 17:14] kristiholmes commented on #23
Hi - I think it is behind the firewall.  Sorry about that. See [NU Team Scientists page](https://www.feinberg.northwestern.edu/fao/for-administrators/team-scientists/index.html) for more information (click to download the Guide for Appointments, Promotion and Tenure (PDF)).

[2019-03-26 18:10] marijane commented on #9
This is dependent on fixing the w3id for the CREDIT ontology -- Protege won't import an ontology from a url that doesn't end in .owl, apparently.

[2019-03-26 18:13] marijane commented on #18
Done!

[2019-03-26 18:13] #18 closed, assigned to marijane

[2019-03-26 18:14] marijane opened #26 "Fix PURL for CREDIT"
It needs to end in .owl.  Prerequisite for #9.

[2019-03-26 18:44] kristiholmes opened #27 "Investigate "object type" data models (e.g. vocabularies/taxonomies)"
Some of the suggestions include MeSH publication types, wikidata, etc.
MJ looking for what's available in RDF. :-)

Overall Qs to resolve:

- is it our goal to use linked data?
- what are our requirements?
- What makes it useful?

[2019-03-26 19:06] mellybelly commented on #27
The requirements I know of thus far are:
1) search faceting
2) alignment with upper level types within our discovery index
3) typing of contribution artifacts (presume they can be multiply-typed?)

It would be good to serve up the data in multiple ways, lets make a separate ticket for the sci-platform for this purpose.

It might be a good idea to have a requirements document in this repo to furthe

[2019-03-27 15:43] marijane commented on #26
I looked into this, and I was wrong, it does not need to end in .owl -- I maintain URLs at purl.org for other ontologies that don't end in .owl and they import in Protege just fine.  I have reached out to the w3id.org mailing list to figure out why the credit URL doesn't work as an import.

This means I am technically blocked, but we can always switch to purl.org if it looks like w3id.org is not g

[2019-03-27 18:10] nicolevasilevsky commented on #23
what are the specific action items for this ticket? @kristiholmes should you, me and @eichmann meet to discuss this?

[2019-03-27 18:10] nicolevasilevsky commented on #17
I think this can be closed.

[2019-03-27 18:10] #17 closed, assigned to marijane, nicolevasilevsky

[2019-03-27 18:13] nicolevasilevsky commented on #10
here is a list of terms that are in the original contribution ontology, but are not in CRO:
https://docs.google.com/spreadsheets/d/1-TrSX4va26XEOQofeSzwmJ6w_c1MG0iKDZnJkToElyc/edit#gid=0

There are 39 terms that are not in CRO that are in the contribution ontology

[2019-03-27 18:14] nicolevasilevsky commented on #10
reassigning to @kristiholmes to review and assign next steps

[2019-03-27 18:43] kristiholmes commented on #10
awesome, thank you very much!  I will be able to take a look at this on Thurs.

[2019-03-27 20:09] nicolevasilevsky commented on #13
I added a new section with publications and other scholarly products related to this project: https://github.com/data2health/contributor-role-ontology/blob/master/README.md

Closing this ticket, but feel free to add any additional content if needed.

[2019-03-27 20:09] #13 closed, assigned to nicolevasilevsky

[2019-03-29 21:20] kristiholmes commented on #23
that sounds terrific, thanks.

[2019-03-29 21:52] nicolevasilevsky commented on #23
Could we add this to our agenda for our Thurs call, or do we need a separate call for this?

[2019-04-01 17:43] marijane commented on #26
This has been fixed and I have released a new version of the credit-ontology:
https://github.com/data2health/credit-ontology/releases/tag/v2019-04-01

[2019-04-01 18:56] LisaOKeefe1 opened #28 "Metadata workshop - Choose swag"
Lisa to source, provide options to KH for selection.

[2019-04-01 18:58] LisaOKeefe1 opened #29 "Metadata workshop - create invitation list"

[2019-04-01 19:00] LisaOKeefe1 opened #30 "Metadata workshop - approve invitations"
KH to send to Chunlei for his okay before sending

[2019-04-01 19:03] LisaOKeefe1 opened #31 "Metadata workshop - create draft agenda -"
Send draft to Chunlei, Dave, Melissa

[2019-04-01 23:34] LisaOKeefe1 opened #32 "Metadata workshop - make better badges"
We should take a hint from ORD camp and make some cool badges :)

[2019-04-02 00:56] kristiholmes commented on #32
Yes, most definitely.  I have been wanting to try this out for a conference ever since I attended SciFoo. https://badge.reviews/

[2019-04-02 01:39] LisaOKeefe1 commented on #32
Badge templates
https://github.com/BadgeReviews/badges
https://github.com/BadgeReviews/badges/blob/master/PSD/Badge-Template.psd

[2019-04-02 18:26] LisaOKeefe1 commented on #23
https://docs.google.com/spreadsheets/d/1feSeHrBBGD2Q7kLyq5vCGlQJztgPu1f-7P-XwICznwI/edit#gid=0

[2019-04-02 18:27] LisaOKeefe1 opened #33 "Metadata workshop - invite NU team"

[2019-04-02 20:42] diatomsRcool commented on #27
Also look at [CRediT](https://dictionary.casrai.org/Category:Objects) and [TaDiRAH](http://tadirah.dariah.eu/vocab/index.php). There are loads of vocabularies for this.

[2019-04-02 21:00] marijane commented on #26
Today someone got back to me on the w3id.org list.

- They noted that the http://w3id.org/credit/ontology works fine in Protege 5.5.
- I had been experiencing the import issue with Protege 5.2.
- I upgraded to Protege 5.5.  Indeed, the import works in this version.

This raises a question: do we want to switch back to w3id.org, or stick with purl.org?

- w3id.org is believed to be more stable, but

[2019-04-02 21:03] #26 closed, assigned to marijane

[2019-04-02 22:28] marijane commented on #27
Thank you, @diatomsRcool !

[2019-04-04 12:56] mellybelly commented on #27
@marijane has an ontological version of CRediT linked herein (we were contributors) but i had not seen TaDiRAH, cool!

[2019-04-04 14:03] marijane commented on #27
@mellybelly Anne's CRediT link is actually a link to the CASRAI Objects, it's worth checking out!

[2019-04-04 14:06] mellybelly commented on #27
yes, this is what we contributed to (it was a working group). but the end result is not computable, so that was the need for the OWL version ;-)

[2019-04-04 17:53] kristiholmes commented on #27
CASRAI works in the context of existing research information systems, which is important for harmonizing across various systems. This also makes it easier for information systems to adopt and implement. This is one of the reasons we mapped the NISO research objects vocabulary to different existing research information system  data models (researchfish, figshare, scopus & WoS, etc.). I don't have a

[2019-04-04 17:57] kristiholmes commented on #27
@diatomsRcool have you seen any specific mappings of the CASRAI object terms to research system  data models, by chance?  I am wondering if this mapping has been completed in a systematic manner. Thanks for your suggestions!

[2019-04-04 19:24] marijane commented on #27
@mellybelly our OWL implementation is limited to the CASRAI contributor roles, it does not cover the objects.  Did I miss something, is it supposed to include them?

[2019-04-04 20:18] kristiholmes commented on #27
no - these are separate

[2019-04-04 20:44] LisaOKeefe1 opened #34 "Work on a plan of sorts for the RAO."
work on a plan of sorts for the RAO.  Enumerate use cases, carefully document all the sources for terms we’ve considered,  and evaluate ontologies for reuse. We'll break this out into user stories then.

[2019-04-10 00:10] marijane commented on #9
Progress!  I have pushed a refactored cro-edit.owl:https://github.com/data2health/contributor-role-ontology/commit/c4daca3eccfb6332871af24031d66a840e266787

I need to fix one more thing in the credit-ontology and do another release of that, then I can merge the refactor in and do another CRO release.

One thing I wasn't sure what to do about was the fact that each ontology has a root-level "contri

[2019-04-10 00:17] LisaOKeefe1 commented on #9
Hooray, @marijane!

[2019-04-11 17:59] marijane commented on #9
credit-ontology re-released!  import refactor merged!  now all i need to do is re-release CRO!

[2019-04-11 17:59] #9 closed, assigned to marijane

[2019-04-11 18:11] LisaOKeefe1 commented on #11
Kristi looking at it now. Will complete in sprint starting 4/11/19.

[2019-04-11 18:14] LisaOKeefe1 commented on #11
https://docs.google.com/spreadsheets/d/1-TrSX4va26XEOQofeSzwmJ6w_c1MG0iKDZnJkToElyc/edit#gid=0

[2019-04-11 18:27] LisaOKeefe1 opened #35 "Complete brain dump of next six month research object work"
Create a shared doc

[2019-04-11 18:31] LisaOKeefe1 commented on #35
Overall goal: Work to unify concepts across different systems. Brain dump will help this. Start with CASRAI. Section for each vocabulary.

[2019-04-11 18:37] diatomsRcool commented on #27
@kristiholmes I have not, but for my work in RDA, we will/may add some of the CASRAI object terms to VIVO.

[2019-04-11 18:41] LisaOKeefe1 commented on #14
Put out for comments .

[2019-04-11 21:13] LisaOKeefe1 commented on #23
Per our sprint planning meeting on 4/11, we will schedule time with Dave Eichmann to discuss demo requirements a bit more. Note that this still might be something created during a Hack-event.

[2019-04-12 02:53] kristiholmes commented on #27
@diatomsRcool very nice! I didnt realize there was a RDA VIVO project. Thanks again for the pointer to this vocabulary

[2019-04-12 14:13] diatomsRcool commented on #27
It's not formal, but we are looking to form a list of terms from the community for adding to VIVO. Let me know if you have terms you want to add. We'll probably start with higher level terms first, tho.

[2019-04-17 23:44] nicolevasilevsky commented on #10
are there any next steps for this ticket?

[2019-04-17 23:45] nicolevasilevsky commented on #11
@LisaOKeefe1 what is the action item here?

[2019-04-17 23:47] nicolevasilevsky commented on #20
Can this be closed? I don't think we are creating ROO/RAO anymore, right?

[2019-04-17 23:54] nicolevasilevsky commented on #34
are we still creating an RAO? I am a bit confused and out of the loop.

[2019-04-17 23:59] marijane commented on #10
No.  We moved it to Done in the sprint planning board, and it kind of overlaps with the ticket about pulling in the workshop terms (which I recall were the source for the terms in the OpenRIF CRO) so I'll go ahead and close it.

[2019-04-17 23:59] #10 closed, assigned to kristiholmes

[2019-04-18 00:03] marijane commented on #20
Not yet.  One of my tasks (#34) for the current sprint is to write down all our thoughts about whether an ontology is needed.  If we decide no, then this can be closed, but if we decide yes, we would still want to do this eventually.

[2019-04-18 00:04] marijane commented on #34
Aha!  This is the ticket I was talking about in my last comment on #20.  We need to document our rationale for creating or not creating an ontology, so it's still up in the air.  Our latest idea is to implement the CASRAI Objects in a fashion similar to the CRediT ontology, but to also map all of the various research output/object/artifact vocabularies we've been talking about (this is also part o

[2019-04-18 00:08] nicolevasilevsky commented on #20
Got it, thanks for clarifying!

[2019-04-18 00:11] LisaOKeefe1 commented on #11
@nicolevasilevsky replied in Slack. @kristiholmes will be taking a look.

[2019-04-18 12:55] LisaOKeefe1 commented on #34
yes! Is this something we need to move to this sprint @marijane ? Please let me know what makes sense for us in terms of order. Thanks!  🥇

[2019-04-18 14:03] marijane commented on #34
Oh!  Did we break this up into smaller tasks?  I'll be able to review things in a couple hours and figure this all out.

[2019-04-18 19:06] nicolevasilevsky commented on #14
I think the draft of this annotation file structure looks fine, although we need to decide how we'll annotate the research outputs, this is not clear to me.

[2019-04-18 19:08] LisaOKeefe1 commented on #14
@nicolevasilevsky thanks. Should we open a story (ticket) for that? I'm happy to do it and you can fill in whatever color you think will help. Just lmn.  Ty!

[2019-04-19 21:40] nicolevasilevsky commented on #14
I think this is covered by #34

[2019-04-22 16:33] kristiholmes commented on #11
philosophical question here - do we want to include roles that people ARE or only roles that they DO? I'm thinking inventor, librarian, and project manager role might be a good fit, but each one of these "roles" are DOING the concepts already included in the CRO.

What do you think?

I'd suggest that we release AS-IS and then dig into this a bit more once we see how people use it.
@nicolevasilevsk

[2019-04-22 17:10] #11 closed, assigned to kristiholmes

[2019-04-22 17:23] kristiholmes opened #36 "Ontologize Casrai "objects""
https://dictionary.casrai.org/Category:Objects

we can use this for a base and map other stuff  here (other research object type concepts from other vocabs like publications from MeSH)

[2019-04-22 17:33] kristiholmes opened #37 "Investigate NISO Scholarly Outputs table (from NISO RP-25-2016)"
- more info at https://www.niso.org/publications/rp-25-2016-altmetrics (section 2, [download report here](groups.niso.org/apps/group_public/download.php/17091/NISO%20RP-25-2016%20Outputs%20of%20the%20NISO%20Alternative%20Assessment%20Project.pdf))
- [NISO Scholarly Outputs table](https://sites.google.com/a/niso.org/scholarlyoutputs/) details below...

**from the report:**

[2019-04-23 01:06] kristiholmes commented on #35
combining this with the other "big picture" object issue...

[2019-04-23 01:06] #35 closed, assigned to kristiholmes, marijane, nicolevasilevsky

[2019-04-23 01:11] kristiholmes commented on #34
from: #35  Overall goal: Work to unify concepts across different systems. Brain dump will help this. Start with CASRAI, (then NISO, then COAR). Section for each vocabulary.

just adding this comment to this issue so that we have it.

[2019-04-23 11:07] kristiholmes opened #38 "Investigate COAR vocabularies"
specifically resource types, in the context of artifacts.
https://www.coar-repositories.org/activities/repository-interoperability/coar-vocabularies/

[2019-04-23 11:13] kristiholmes commented on #34
today during the sprint planning meeting, it would be helpful to spend a few minutes chatting about

- #36 #37 and #38 and what role they play in the concept of research artifacts
- how RA are incorporated into the annotation file
- what concepts overlap with metadata discussions, such as concepts of scholarly output that we may want to represent in various platforms

@LisaOKeefe1 @nicolevasilevsk

[2019-04-23 13:03] LisaOKeefe1 commented on #34
@kristiholmes  thanks. This is great prep for us. If there is one goal that I have for us as a team today it's for us to make sure that we are clearly defining what we expect to get done in two weeks. This will definitely help us scope out the fortnight.

[2019-04-23 17:32] marijane opened #39 "Investigate Wikidata Publication Types"
See https://www.wikidata.org/wiki/Wikidata:Publication_types

part of #34

[2019-04-23 17:33] marijane commented on #39
Can we bring the COAR/NISO/CASRAI things into Wikidata?  This paper seems relevant:

"Wikidata as a linking hub for knowledge organization systems?  Integrating an authority mapping into Wikidata and learning lessons for KOS mappings"

http://ceur-ws.org/Vol-1937/paper2.pdf

[2019-04-23 17:48] marijane commented on #39
How would we add COAR types to Wikidata Items?
Would a COAR identifier property need to be added?
What identifier properties already exist in Wikidata?

[2019-04-23 17:51] LisaOKeefe1 opened #40 "Stating intent"
Write a quick sentence explaining what we'd like to do w/WD and COAR and why it's good.

[2019-04-23 17:54] kristiholmes commented on #34
we will not do a PLAN, per se. We will as a first step map MeSH publication types to wikidata, then the COAR vocabulary.
@nicolevasilevsky  @marijane @LisaOKeefe1

[2019-04-23 17:54] #34 closed, assigned to marijane

[2019-04-23 17:56] kristiholmes commented on #27
CASRAI - URIs
MeSH - RDF
COAR - RDF

[2019-04-23 18:14] #27 closed, assigned to kristiholmes, marijane

[2019-04-23 20:01] nicolevasilevsky commented on #40
I sent some content in Slack

[2019-04-24 16:31] LisaOKeefe1 commented on #23
@kristiholmes  and @eichmann thanks for meeting today. Based on our conversation here is the next thing we need to do. Will add more open items shortly, so we can turn them into stories if needed.
- [ ] decide what we want to use as our source (Scopus, Pubmed Central, DOI through CrossRef, other?)

[2019-04-24 19:43] kristiholmes commented on #4
yes, agree - sending more info and the draft annotation file for discussion.

[2019-04-24 19:43] #4 closed, assigned to kristiholmes

[2019-04-24 21:42] kristiholmes commented on #40
I sent email to Melissa and Dave to ask for input before we move forward. 4/24/2019

[2019-04-24 21:43] #40 closed, assigned to nicolevasilevsky

[2019-04-24 21:44] #28 closed, assigned to kristiholmes, LisaOKeefe1

[2019-04-24 21:44] #29 closed, assigned to kristiholmes

[2019-04-24 21:44] #30 closed, assigned to kristiholmes, LisaOKeefe1

[2019-04-24 21:44] #31 closed, assigned to kristiholmes, LisaOKeefe1

[2019-04-24 21:44] #32 closed, assigned to kristiholmes, LisaOKeefe1

[2019-04-24 21:44] #33 closed, assigned to kristiholmes, LisaOKeefe1

[2019-04-24 21:45] kristiholmes commented on #36
decided to start with COAR since in SKOS.

[2019-04-24 21:45] #36 closed, assigned to marijane, nicolevasilevsky

[2019-04-25 20:26] LisaOKeefe1 commented on #2
moving to a repo just for the event so as to keep this repo clean :-)

[2019-04-25 20:26] #2 closed, assigned to kristiholmes, LisaOKeefe1

[2019-04-25 23:30] kristiholmes opened #41 "Plan for objects/artfacts (DRAFT)"
Use research objects from Wikidata for the annotation files

- Review research objects/artefacts in the [COAR Controlled Vocabularies](https://www.coar-repositories.org/activities/repository-interoperability/coar-vocabularies/) (specifically the [Resource Type Vocabulary](https://www.coar-repositories.org/activities/repository-interoperability/coar-vocabularies/deliverables/)) The COAR Controlled

[2019-04-25 23:37] LisaOKeefe1 commented on #41
@kristiholmes want me to break these into sub tasks or stories? This seems like a big chunk of work and it might be easier to track progress if we do break it down. Let me know. Thanks! :-)

[2019-04-25 23:58] kristiholmes commented on #41
All of these bullets are already issues.  Just trying to document better to show context.

[2019-04-26 16:32] nicolevasilevsky commented on #41
This is helpful, thanks @kristiholmes!

[2019-05-01 14:39] LisaOKeefe1 opened #42 "Feedback and brainstorming"
What else can we be doing with this project? Where would you like to see us focus? What do you want to help create? Please share here!

[2019-05-03 14:56] LisaOKeefe1 commented on #38
Here's the doc should any community members wish to read, comment: https://docs.google.com/spreadsheets/d/1Mw8gK2NUGM8po7GGRtJTShRM2QNFoR19VJrjQuVCDW8/edit#gid=323661248

Please let us know if you have any questions.

[2019-05-03 15:03] LisaOKeefe1 opened #43 "Spot check Nicole's mapping of COAR-wikidata mappings"
Related to issue #38
https://docs.google.com/spreadsheets/d/1Mw8gK2NUGM8po7GGRtJTShRM2QNFoR19VJrjQuVCDW8/edit#gid=323661248)

Nicole needs this in order to move on.

If anyone in the community would like to comment on these, please do!

[2019-05-06 15:10] kristiholmes opened #44 "Develop principles documentation for attribution project"
Use [COAR NGR ](http://ngr.coar-repositories.org/)as a guide to construct the following support materials:

- Vision & Objectives
- Principles
- Design Assumptions
- Behaviours
- Technologies

[2019-05-10 15:36] kristiholmes commented on #21
Lisa contacted all iDTF contacts who indicated interest so that we can follow up in a meaningful way. Thanks, @LisaOKeefe1!

[2019-05-10 15:36] #21 closed, assigned to kristiholmes

[2019-05-14 14:28] LisaOKeefe1 commented on #23
Just saving the user story for this here: "As a transitional scholar I want to be able to enter to annotate my list of contribution roles and have it returned i a way so I can use it as a guide to write my personal framework, augment my CV, or show hub impact. "

[2019-05-14 15:19] LisaOKeefe1 commented on #22
Not sure if we can close this. The original task has been completed but the process of outreach to interested parties and groups is ongoing. @kristiholmes ?

[2019-05-14 18:45] kristiholmes commented on #22
Great point.  I think we can close since this general email went out from cd2h, but perhaps we start a new issue for the specific things we do from this point forward?

@LisaOKeefe1

[2019-05-14 18:56] #22 closed, assigned to kristiholmes

[2019-05-16 16:20] jmcmurry commented on #22
That's great! Related reminders:

# Project email addresses
You can **view/copy email addresses for all onboarded participants for your project** here on the [cd2h-people-slim](bit.ly/cd2h-people-slim) (The doc is shared with only those who have onboarded; feel free to reference that doc but please refrain from posting email addresses in GitHub as a) the repos are public and addresses can be bot-s

[2019-05-16 19:56] kristiholmes opened #45 "Develop Code of Conduct for project"
https://help.github.com/en/articles/adding-a-code-of-conduct-to-your-project

[2019-05-16 20:50] LisaOKeefe1 commented on #45
Using Contributor Covenant in solidarity with menRva and Personas!

[2019-05-16 20:50] #45 closed, assigned to kristiholmes, LisaOKeefe1

[2019-05-17 01:05] mellybelly opened #47 "suggestions for the project description"
A few comments to potentially make this project repo description more useful to naive readers and to NCATS:

Under the deliverables, I made some suggested descriptors for some, but others i didn't really know what they meant:
* Better understanding of how to address research output types and versioning of objects in the context of unique identifiers
=> is this the data model and use of Wikidata an

[2019-05-17 03:27] kristiholmes commented on #47
done

[2019-05-17 03:27] #47 closed, assigned to nobody

[2019-05-17 03:55] kristiholmes commented on #47
I also updated the RPPR.md file, too.  Thanks again @mellybelly

[2019-05-20 18:53] marijane commented on #39
Answers to previously posed questions:
Wikidata has all of the SKOS matching relationships. We can use these to point to COAR concepts. We might want to add a column to the mapping spreadsheet to indicate the match type (exact, close, broad, narrow).

[2019-05-20 19:46] kristiholmes commented on #38
investigation complete, with 88.6% in wikidata (62/70)

[2019-05-20 19:46] #38 closed, assigned to marijane, nicolevasilevsky

[2019-05-20 19:49] kristiholmes commented on #23
Let's table this for a while until we get a better idea of what to do...

[2019-05-20 20:04] LisaOKeefe1 opened #48 "CRO available in OWL and OBO formats"
As a user I would like the CRO to be available in OWL and OBO formats.

[2019-05-20 20:07] LisaOKeefe1 opened #49 "Make CRO available in Bioportal, Ontobee"
As a user I would like this CRO to be available in Bioportal and Ontobee

[2019-05-20 20:07] LisaOKeefe1 commented on #49
Hi @nicolevasilevsky and @marijane, I am having a hard time recalling who should be assigned this story. If it's not you, please take yourself off. With apologies!

[2019-05-20 20:09] LisaOKeefe1 opened #50 "Share news that CRO is ready for pilot in RIS"
- [x] Write blog post

- [x] Create pointers to where CRO can be found (and in which formats)

[2019-05-20 20:11] LisaOKeefe1 commented on #50
Per sprint planning on 5/20, @nicolevasilevsky will write blurb. MJ and Lisa will give it a look.
Who will create pointers? @marijane

[2019-05-20 22:09] nicolevasilevsky commented on #50
I think the pointers are just meant to be links to the CRO GitHub repo, and OLS, etc. I'll do this in the blog post.

[2019-05-20 22:28] #39 closed, assigned to marijane

[2019-05-20 23:29] LisaOKeefe1 commented on #50
Yes! I was just afraid of forgetting them :) thanks!

[2019-05-21 01:00] nicolevasilevsky commented on #50
here is a draft blog post:
https://docs.google.com/document/d/1-48gzyaceZwgjVfp1ULmbnA3kZ2U-FVq_1Sx8zz1eTo/edit

[2019-05-21 07:52] kristiholmes commented on #50
Thanks, Nicole! I made a few edits, see what you think.
@nicolevasilevsky

[2019-05-24 04:32] marijane commented on #43
All mappings have been checked, and skos relationships added.  i think these are ready to add to wikidata!

we do still need to decide what to do with the concepts that aren't found in wikidata at all.  some of them are what i would call "abstract" concepts that mostly serve to group concepts in COAR, but some of them we might want to figure out how to add as new concepts in wikidata.

[2019-05-24 11:16] kristiholmes commented on #43
hi @nicolevasilevsky @marijane  @LisaOKeefe1 - It turns out that our team at Galter has been working on resource object types. :)  Given the amount of thought and time given to this, I would like to touch base before we submit to wikidata - ok w everyone? Info below, let me know what you think. Thanks!

**Resource Types with hierarchy and UI label:** https://docs.google.com/spreadsheets/d/101zDjXZ

[2019-05-24 19:20] nicolevasilevsky commented on #50
I think this can be closed

[2019-05-24 19:20] #50 closed, assigned to marijane, nicolevasilevsky

[2019-05-24 19:21] nicolevasilevsky commented on #48
this is done - see https://github.com/data2health/contributor-role-ontology

[2019-05-24 19:21] #48 closed, assigned to marijane

[2019-06-04 23:32] nicolevasilevsky commented on #49
@marijane are you working on this?

[2019-06-05 00:54] kristiholmes opened #51 "CRO: delete "educational training role""
Overlaps with educational instruction role.

https://docs.google.com/spreadsheets/d/1QqKUtSQ701gq1bwEY2EF-8FrYnZUlCRvW3V0PY02euM/edit#gid=0

[2019-06-05 01:00] kristiholmes opened #52 "CRO: change "intellectual property advisor role" to "intellectual property role""
Definition: A role related to creations of the mind, such as inventions; literary and artistic works; designs; and symbols, names and images used in commerce.
From https://www.wipo.int/about-ip/en/

[2019-06-05 10:10] kristiholmes opened #53 "CRO: remove "research" descriptor"
research conceptualization role
research coordination role
research instrumentation role
research technician role

http://www.ontobee.org/ontology/catalog/CRO?iri=http://www.w3.org/2002/07/owl%23Class&max=200

[2019-06-05 10:11] kristiholmes opened #54 "CRO: remove "software" descriptor"
software project management role

http://www.ontobee.org/ontology/catalog/CRO?iri=http://www.w3.org/2002/07/owl%23Class&max=200

[2019-06-05 23:52] marijane commented on #49
Submitted to BioPortal.
http://bioportal.bioontology.org/ontologies/CRO
It's still processing, so it may take a few hours for it to show up.

Ontobee picked us up automatically, it seems:
http://www.ontobee.org/ontology/CRO

[2019-06-05 23:52] #49 closed, assigned to marijane, nicolevasilevsky

[2019-06-06 18:16] kristiholmes opened #55 "Create data disctionary for the annotation file structure"
depends on deciding annotation file structure
- see https://github.com/data2health/architecting_attribution/issues/14

[2019-06-06 18:21] LisaOKeefe1 opened #56 "Get input from MH"
- [x] Feedback on file annotation format
- [x] Get her thoughts, feelings and concerns on CRO.

[2019-06-12 22:44] nicolevasilevsky commented on #51
done

[2019-06-12 22:44] #51 closed, assigned to marijane, nicolevasilevsky

[2019-06-12 22:47] nicolevasilevsky commented on #54
@kristiholmes - you want this to be renamed to project manager role?

Should I move it to a child of contributor role?

[2019-06-12 22:47] nicolevasilevsky commented on #53
research conceptualization role was obsoleted in the cro-edit.owl file

[2019-06-12 22:51] nicolevasilevsky commented on #53
done on PR https://github.com/data2health/contributor-role-ontology/pull/67

[2019-06-12 22:51] #53 closed, assigned to marijane, nicolevasilevsky

[2019-06-12 22:52] nicolevasilevsky commented on #52
done

[2019-06-12 22:52] #52 closed, assigned to marijane, nicolevasilevsky

[2019-06-20 18:26] #56 closed, assigned to kristiholmes, marijane, nicolevasilevsky

[2019-06-20 18:36] marijane commented on #54
per discussion in today's meeting, remove "software" from both the label and the definition for this class.

[2019-06-22 21:24] kristiholmes commented on #41
this general plan is a representation of existing issues that are complete or in progress
#38, #39, #14

[2019-06-22 21:24] #41 closed, assigned to nobody

[2019-06-22 21:27] kristiholmes commented on #20
hello, just going through issues - what do you think about closing? Especially with the work happening to push the COAR resource types to wikidata? Thanks!  @marijane @nicolevasilevsky

[2019-06-22 21:30] kristiholmes commented on #37
closing and deferring to #34

[2019-06-22 21:30] #37 closed, assigned to marijane, nicolevasilevsky

[2019-06-22 21:34] kristiholmes opened #57 "Submit workshop to Force2019 meeting"

[2019-06-22 21:35] kristiholmes commented on #57
Submitted at https://docs.google.com/document/d/1nB-0_6JW-pAfB-Zeys2YdcnN4i_Y3bvsi5usrDdWFf0/edit

[2019-06-22 21:35] #57 closed, assigned to nobody

[2019-06-22 21:39] kristiholmes opened #58 "Write/submit paper to RO meeting for IEEE E-science"
Submit paper about COAR resource types into wikidata to RO meeting for IEEE E-science

https://researchobject.github.io/ro2019/submitting
https://easychair.org/cfp/ro2019

Deadlines have been extended
    2019-07-05 RO2019 submissions due: articles
    2019-07-15 RO2019 submissions due: abstracts for oral presentation
    2019-07-25 RO2019 Notification of acceptance
    2019-09-02 RO2019 submissio

[2019-06-22 21:49] kristiholmes commented on #58
Link to work on submission at https://docs.google.com/document/d/1zQe4HMfTWBOZ0Prg-YY12Dqhv3YQR8DL8-Q4d2j-3FQ/edit

we can submit a regular submission and also something for the unconference portion of the event...

[2019-06-22 21:53] #25 closed, assigned to nobody

[2019-06-24 17:04] nicolevasilevsky commented on #20
yes, let's close

[2019-06-24 17:04] #20 closed, assigned to marijane

[2019-06-25 20:03] #54 closed, assigned to marijane, nicolevasilevsky

[2019-07-01 21:23] nicolevasilevsky commented on #58
@kristiholmes are you working on this? Do you need help?  Are you planning to attend this conference?

[2019-07-02 10:41] kristiholmes commented on #58
Hi @nicolevasilevsky, thanks - yes, help would be great.  I could attend if we get a presentation selected. I pasted the Force2019 abstract in the link above for inspiration, but I was thinking that we might want to develop something around the research object types work since that is new and a good fit. Do we want to do a talk (1-2 page submission) or something appropriate to be included in the p

[2019-07-02 20:09] nicolevasilevsky commented on #58
Sounds good - I will start a draft.

Note, the link to the presentation from last year is not loading for me (https://digitalhub.northwestern.edu/files/fb4aa42b-ffe8-4548-b6cf-2fa6e32a80ac)

[2019-07-02 20:14] nicolevasilevsky commented on #58
I think a 1-2 page submission sounds good

[2019-07-02 22:42] nicolevasilevsky commented on #58
An initial draft is ready for review:
https://docs.google.com/document/d/1zQe4HMfTWBOZ0Prg-YY12Dqhv3YQR8DL8-Q4d2j-3FQ/edit#

(I reused a lot of existing text from the Force2019 abstract and Matt's really lovely documentation on the [project plan](https://docs.google.com/document/d/100lB0RjDVzJYJX9hQ1pe_OY90xCSA6mhDfK3xYav3Ow/edit#) and [contribution information model](https://docs.google.com/docum

[2019-07-03 19:10] #14 closed, assigned to mellybelly, kristiholmes, marijane, nicolevasilevsky

[2019-07-03 19:26] marijane opened #59 "Revert contributor-role-ontology to MIREOT the credit-ontology"
See data2health/contributor-role-ontology#77

[2019-07-03 19:30] marijane opened #60 "Create a documentation website for the CRO"
See data2health/contributor-role-ontology#30

[2019-07-03 19:34] marijane opened #61 "Add COAR mappings to Wikidata"
We finished our mappings (see #43) and we are ready to start adding them to Wikidata.

We are going to add them using Wikidata's SKOS relationships.  Note in the spreadsheet, not all of the mappings are exact-match.  Take care to use the correct SKOS relationship when adding the mappings.

[2019-07-03 19:46] #43 closed, assigned to marijane

[2019-07-03 19:48] marijane commented on #55
This should be part of the website, see #60.

[2019-07-24 14:11] kristiholmes commented on #61
Please see updates to COAR resource types:  https://www.coar-repositories.org/news-media/new-release-of-the-coar-controlled-vocabulary-resource-type/

_COAR is pleased to announce the release of the Resource Type Vocabulary, Version 2. This vocabulary, which is now available in 15 languages, provides standardized terms for different types of content contained in a repository. Controlled vocabulari

[2019-07-24 19:06] kristiholmes opened #62 "Demonstration workflows"
Use personas, build use cases. Need something to show by fall CTSA meeting.

-Basic Scientist
-K, T Scholars
-Clinical Research Coordinator
-Center/Program Administrator
-Clinician/Doctor
-Community-engaged Clinical Researcher
-Lay Patient Navigator
-Research Administrator
-Biostatistician
-Data Analyst
-Developer
-Librarian

[2019-07-24 19:08] kristiholmes commented on #58
https://zenodo.org/record/3334688#.XTiso1B7mgR

Currently in review.

[2019-07-24 19:08] #58 closed, assigned to kristiholmes, marijane, nicolevasilevsky

[2019-07-25 23:52] nicolevasilevsky commented on #60
this is done

[2019-07-25 23:52] #60 closed, assigned to nicolevasilevsky

[2019-08-08 19:04] marijane commented on #59
This is done!

[2019-08-08 19:04] #59 closed, assigned to marijane

[2019-08-08 19:33] LisaOKeefe1 commented on #62
Lisa to work with NV on adding roles to personas, creating some sort of low tech demonstrator.

[2019-08-08 19:34] LisaOKeefe1 commented on #62
Blocked on getting into open VIVO. Need developer

[2019-08-08 19:52] kristiholmes commented on #55
Per conversation with @nicolevasilevsky (with @marijane, @LisaOKeefe1, @kristiholmes)  on 9/8/19 this work should be completed by the work that @mbrush has completed.

[2019-08-08 19:52] #55 closed, assigned to marijane, nicolevasilevsky

[2019-08-08 19:57] kristiholmes commented on #24
Per discussion with Dave Eichmann during his meeting at NU on Aug 7, 2019, table for future work.

[2019-08-08 19:57] #24 closed, assigned to nobody

[2019-08-09 20:39] nicolevasilevsky commented on #61
I reviewed the new version and I don't see any additions that aren't already on our list (https://docs.google.com/spreadsheets/d/1Mw8gK2NUGM8po7GGRtJTShRM2QNFoR19VJrjQuVCDW8/edit#gid=323661248)

[2019-08-10 16:21] mellybelly commented on #12
@marijane can this be closed?

[2019-08-10 16:22] mellybelly opened #63 "Acknowledgement section milestone"
https://github.com/data2health/architecting_attribution/milestone/5

This needs a description and a set of issues.

[2019-08-10 16:25] mellybelly commented on #19
@marijane @nicolevasilevsky is the documentation of CRO scope complete in your mind? if so please close this ticket.

[2019-08-11 02:16] kristiholmes commented on #42
Let's pick this up in the fall.

[2019-08-11 02:16] #42 closed, assigned to nobody

[2019-08-12 15:15] #19 closed, assigned to marijane, eichmann

[2019-08-15 18:06] #12 closed, assigned to marijane

[2019-08-16 18:20] nicolevasilevsky commented on #62
Personas-CRO mapping here: https://docs.google.com/spreadsheets/d/1HDFTxl6IZtxNvvQq_E4AIpCmoSPj1fZEp3WYtaP4LIU/edit#gid=0

[2019-08-16 19:41] LisaOKeefe1 commented on #62
?Thank you!

Lisa O'Keefe, MLIS
Sr. Program Administrator
Galter Health Sciences Library & Learning Center
Feinberg School of Medicine
Northwestern University
303 E. Chicago Ave.
Chicago, IL 60611

________________________________
From: Nicole Vasilevsky <notifications@github.com>
Sent: Friday, August 16, 2019 1:20 PM
To: data2health/architecting_attribution
Cc: Lisa Lea O'Keefe; Comment
Subject:

[2019-08-20 21:25] mellybelly commented on #15
@eichmann maybe openVIVO or the @newgene's metadata registration wizard?

[2019-08-20 21:26] mellybelly commented on #16
@mbrush or @kristiholmes - this can be from the model documentation and in the guidebook- dual purpose?

[2019-08-20 21:26] mellybelly commented on #16
e.g we want the union of them in both places ;-)

[2019-08-20 21:27] mellybelly commented on #63
What should we do for this one? there is no milestone description. Perhaps a demonstrator could be the autogeneration of words for the acknowledgement section? @kristiholmes suggested this also for CVs etc.

[2019-08-29 01:27] marijane commented on #61
I mapped everything I could to a Wikidata item, and I added some definitions to the Wikidata items that lacked them.
It turns out that only skos:exactMatch can be directly used on items.  The other SKOS relationships are limited to being used as qualifiers for external ID types.  This means mappings identified as close or narrow matches have not been added.

[2019-08-29 01:27] #61 closed, assigned to marijane

[2019-08-29 03:05] nicolevasilevsky commented on #61
Yay, thanks!

[2019-08-29 11:16] kristiholmes commented on #44
I think that this is not necessarily urgent for getting this first body of work out. This would be an excellent perspective to include in a paper, though.

[2019-08-29 11:16] #44 closed, assigned to kristiholmes, LisaOKeefe1

[2019-10-04 21:19] #62 closed, assigned to kristiholmes, nicolevasilevsky

[2019-10-04 21:20] #23 closed, assigned to kristiholmes, nicolevasilevsky, LisaOKeefe1

[2019-11-19 16:00] LisaOKeefe1 commented on #63
@kristiholmes looking for your guidance on this issue. Thanks!

[2019-11-19 16:01] LisaOKeefe1 commented on #15
@kristiholmes also looking for guidance here. Thanks.

[2019-11-19 16:02] LisaOKeefe1 opened #65 "Write Guidebook chapter -Best practices for attribution and use of attribution"
Out for comments.  Attribution group meets again 11/21 to refine.  Due 12/5

https://docs.google.com/document/d/1RBBUWWo3BNyeKXEP3ddqAqs6s_r-GCF0fC-jl9R2joc/edit

[2019-11-24 11:41] kristiholmes commented on #63
Following up to identify next steps. @eichmann can you please let us know what is in progress/planned for the acknowledgements milestone or close it (please see Melissa's comment above)? Perhaps there is possible Phase 3 work and this could be addressed then?  Many thanks!
@mellybelly  @LisaOKeefe1

[2019-11-24 11:44] kristiholmes commented on #15
Thoughts welcome here.  Has any progress been made on this?  If not, we should consider realigning for possible Phase 3 work. @eichmann can you please update? Thanks!

@mellybelly @nicolevasilevsky @LisaOKeefe1

[2019-11-24 11:49] kristiholmes commented on #16
Per discussions with the group, it was decided that a deep dive into research objects was out of scope at this time. A light-weight discussion is included in the guidebook.

[2019-11-24 11:49] #16 closed, assigned to nobody

[2019-12-02 14:49] LisaOKeefe1 commented on #15
No updates provided. Suggest moving to phase 3 as suggested.

[2019-12-04 19:54] LisaOKeefe1 commented on #65
Chapter complete and in markdown file [here](https://github.com/data2health/reusable-data-best-practices/blob/master/docs/chapters/Chapter_8.md)

[2019-12-04 19:54] #65 closed, assigned to kristiholmes, nicolevasilevsky

[2019-12-12 19:30] eichmann commented on #15
We have substantial data  generated by the acknowledgements component of SciTS (labs.cd2h.org/acknowledgements) to enable retrospective annotation.

[2019-12-12 19:31] eichmann commented on #63
We have substantial data generated by the acknowledgements component of SciTS (labs.cd2h.org/acknowledgements) to enable retrospective annotation.

[2019-12-13 13:23] kristiholmes commented on #63
@eichmann can you please add a link to this? thanks!

[2019-12-13 15:28] eichmann commented on #63
@kristiholmes could you clarify?  Not sure what you're asking for.

[2019-12-13 15:38] kristiholmes commented on #63
@eichmann sure, no problem.  Where is the data or tool so we can use it? Is it the tool on labs or is there a data set?